
.checkbox-container{
	margin-top: 20%;
	margin-left: 22%;
}
p,
label {
	font: 1rem 'Fira Sans', sans-serif;
	font-size: 23px;
	margin-left: 5%;
	color: blue;

}

input {
	margin-left:10% ;
	margin: .4rem;
}
